# ============[ APP CONFIG ]============

## Logger | format: [plain, json], level: [error, warn, info, debug]
APP_LOGGER_FORMAT=json
APP_LOGGER_LEVEL=info

## Mongo
APP_MONGO_URI=mongodb://USER:PASS@mongo:27017/?authSource=admin&replicaSet=rs0
APP_MONGO_DB=ips-app

## Token
APP_ACCESS_TOKEN_SECRET=CHANGE_ME
APP_ACCESS_TOKEN_EXPIRY=1m
APP_REFRESH_TOKEN_SECRET=CHANGE_ME
APP_REFRESH_TOKEN_EXPIRY=7d


# ============[ DOCKER CONFIG ]============

## Port
DOCKER_PORT_BACKEND=50002
DOCKER_PORT_MONGO=50003

## Mongo Credentials
DOCKER_MONGO_USERNAME=mongouser
DOCKER_MONGO_PASSWORD=mongopass
