# Exposed port
PORT_APP=8000
PORT_MONGO=8001

# Logging
# options: DEBUG, INFO, WARN, ERROR
LOG_LEVEL=INFO
# options: json, basic
LOG_FORMAT=json

# MongoDB
MONGO_USERNAME=CHANGE_ME_USER
MONGO_PASSWORD=CHANGE_ME_PASS
MONGO_URI=mongodb://CHANGE_ME_USER:CHANGE_ME_PASS@mongo:27017/?authSource=admin&replicaSet=rs0
MONGO_DB=ips-app

# JWT config
ACCESS_TOKEN_SECRET=CHANGE_ME
ACCESS_TOKEN_EXPIRY=3600
REFRESH_TOKEN_SECRET=CHANGE_ME
REFRESH_TOKEN_EXPIRY=604800

# Seeder — user credentials
SEEDER_ADMIN_NAME=Admin
SEEDER_ADMIN_USERNAME=admin
SEEDER_ADMIN_PASSWORD=12345678
SEEDER_USER_NAME=User
SEEDER_USER_USERNAME=user
SEEDER_USER_PASSWORD=12345678
