annotated-doc==0.0.4
APScheduler==3.11.2
uvicorn==0.34.3
annotated-types==0.7.0
anyio==4.13.0
bcrypt==4.3.0
beanie==1.26.0
click==8.3.3
dnspython==2.8.0
fastapi==0.136.1
idna==3.13
lazy-model==0.2.0
motor==3.7.1
numpy==2.4.4
pydantic==2.13.3
pydantic_core==2.46.3
PyJWT==2.10.1
pymongo==4.17.0
python-dotenv==1.2.2
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
